---
import Navigation from '../components/Navigation.astro';
import Hero from '../components/Hero';
import Features from '../components/Features';
import Footer from '../components/Footer.astro'; // Import here
import '../styles/global.css';
---

<html lang="en">
	<body class="bg-white">
		<Navigation />
		<main>
			<Hero />
			<Features />
		</main>
		<Footer /> </body>
</html>